# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual Environments
.env
.venv
env/
venv/

# IDE configuration files
.vscode/
.idea/

# Test and coverage reports
.pytest_cache/
.coverage
htmlcov/

# macOS specific files
.DS_Store

# Database data
# Ignore local MySQL data directory
mysql/

# Secrets
*.env
secrets.ini